{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url({% static '/assets/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-12 col-md-10">
                <h1 class="display-2 text-white">{{crypto.name}}</h1>
                <h3 class="display-4 text-white">{{crypto.symbol}}</h3>
                <!-- <p class="text-white mt-0 mb-5"><a href="{{stock.website}}">{{stock.website}}</a><br>
                    {{stock.industry}}<br>{{stock.sector}}</p> -->
                <a href="#!" class="btn btn-info">{{current_price}}</a>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="{% static "/assets/img/theme/team-4-800x800.jpg" %}" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info mr-4" name="buy" data-toggle="modal"
                            data-target="#buyModal">Buy</a>
                        <a href="#" class="btn btn-sm btn-default float-right" name="sell" data-toggle="modal"
                            data-target="#sellModal">Sell</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <!-- <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div> -->
                    <br><br>
                    <div class="text-center">
                        <h3>
                            Mock Crypto Trainer
                        </h3>
                        <!-- <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div> -->
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>{{stock.name}}, <span
                                class="font-weight-light">{{stock.symbol}}</span>
                        </div>
                        <!-- <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div> -->
                        <hr class="my-4" />
                        <p>Buy and sell virtual cryptocurrencies in real time and train yourself to become a master at
                            cryptocurrencies.</p>
                        <a href="#">Manage other virtual cryptocurrencies</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <!-- <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div> -->
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Cryptocurrency information</h6>
                    <hr class="my-4" />
                    <!-- Graph 1 -->
                    <h6 class="heading-small text-muted mb-4">Graph Of Last 30 day Prices</h6>
                    <div class="pl-lg-4">
                        <canvas id="myChart" style="height:500px;"></canvas>
                    </div>
                    <hr class="my-4" />
                    <!-- Graph 2 -->
                    <h6 class="heading-small text-muted mb-4">Graph Of Last Minute Prices</h6>
                    <div class="pl-lg-4">
                        <canvas id="myChart2" style="height:500px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modals-->
    <div class="modal fade" id="buyModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buy Stocks</h4>
                </div>
                <form method='POST'>
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" class="form-control" name="quantity"
                            placeholder="Enter total Number Of Stocks to Buy:" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="buy" class="btn btn-default" data-dismiss="modal">Buy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sellModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sell Stocks</h4>
                </div>
                <form method='POST'>
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="text" class="form-control" name="squantity"
                            placeholder="Enter total Number Of Stocks to Sell:" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="sell" class="btn btn-default" data-dismiss="modal">Sell</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static "/assets/vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "/assets/js/argon.js" %}"></script>
<script>
    //var x = {{open}}
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            //labels:{{month}}
            labels: ['"2019-03-02"', '"2019-03-01"', '"2019-02-28"', '"2019-02-27"', '"2019-02-26"', '"2019-02-23"', '"2019-02-22"', '"2019-02-21"', '"2019-02-20"', '"2019-02-19"', '"2019-02-16"', '"2019-02-15"', '"2019-02-14"', '"2019-02-13"', '"2019-02-12"', '"2019-02-09"', '"2019-02-08"', '"2019-02-07"', '"2019-02-06"', '"2019-02-05"', '"2019-02-02"', '"2019-02-01"', '"2019-01-31"', '"2019-01-30"', '"2019-01-29"', '"2019-01-28"', '"2019-01-27"', '"2019-02-22"', '"2019-02-21"'],
            datasets: [{
                label: 'Opening Price',
                data: [3854.70819179,
                    3841.35908067,
                    3858.39229064,
                    3882.65202076,
                    3804.38269997,
                    4139.93502111,
                    3998.53500919,
                    3955.66293756,
                    4000.91221061,
                    3948.78098067,
                    3911.46063482,
                    3657.92764836,
                    3622.03240902,
                    3610.96624534,
                    3608.38560002,
                    3622.05851153,
                    3639.75350631,
                    3642.82753744,
                    3688.16581195,
                    3665.62010677,
                    3658.79714467,
                    3386.89487741,
                    3404.40011578,
                    3459.93528582,
                    3453.25698855,
                    3456.41022843,
                    3508.98928114,
                    3478.80204193,
                    3451.51132461,
                    3478.21678702],
                backgroundColor: [
                    //'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 255, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            },
            {
                label: 'Closing Price',
                data: {{ close_data }},
        backgroundColor: [
            //'rgba(54, 162, 235, 0.2)',
            'rgba(255, 255, 255, 0.2)',
        ],
        borderColor: [
            'rgba(54, 162, 235, 1)',
        ],
        borderWidth: 1
    },
        {
            label: 'Highest Price',
            data: { { high_data } },
    backgroundColor: [
        'rgba(255, 255, 255, 0.2)',
    ],
        borderColor: [
            'rgba(255, 206, 86, 1)',
        ],
            borderWidth: 1
    },
    {
        label: 'Lowest Price',
            data: { { low_data } },
        backgroundColor: [
            //'rgba(75, 192, 192, 0.2)',
            //'rgba(153, 102, 255, 0.2)',
            //'rgba(255, 159, 64, 0.2)'
            'rgba(255, 255, 255, 0.2)',
        ],
            borderColor: [
                //'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderWidth: 1
    }]
            },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        },
    }
        });
</script>

<script>
    //var x = {{open}}
    var ctx = document.getElementById("myChart2").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            //labels:{{month}}
            labels: ['"2019-03-02"', '"2019-03-01"', '"2019-02-28"', '"2019-02-27"', '"2019-02-26"', '"2019-02-23"', '"2019-02-22"', '"2019-02-21"', '"2019-02-20"', '"2019-02-19"', '"2019-02-16"', '"2019-02-15"', '"2019-02-14"', '"2019-02-13"', '"2019-02-12"', '"2019-02-09"', '"2019-02-08"', '"2019-02-07"', '"2019-02-06"', '"2019-02-05"', '"2019-02-02"', '"2019-02-01"', '"2019-01-31"', '"2019-01-30"', '"2019-01-29"', '"2019-01-26"', '"2019-01-25"', '"2019-01-24"', '"2019-01-23"'],
            datasets: [{
                label: 'Volume Of Data',
                data: [108470.83456426,
                    143432.25123486,
                    141286.61515863,
                    119060.1581252,
                    137297.18116957,
                    194627.60550802,
                    149598.07711977,
                    133844.73367511,
                    121033.84169602,
                    133343.88452391,
                    174369.15177334,
                    179343.23084638,
                    109688.7092807,
                    98590.08001842,
                    100764.35543249,
                    101497.81811123,
                    108477.08463366,
                    113789.6160257,
                    99465.50689874,
                    90821.95907134,
                    90479.60631593,
                    168313.32561833,
                    93880.48423869,
                    115263.34402697,
                    83517.74862857,
                    102342.97781449,
                    100398.69103427,
                    96177.63839033,
                    117437.9148747,
                    129435.84921899],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
        }
    });
</script>


{% endblock %}