{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Dow Jones</h5>
                  <span class="h2 font-weight-bold mb-0">26,026.32</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-arrow-up"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>110.32</span>
                <span class="text-nowrap">(0.43%)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Russell 1000 Index</h5>
                  <span class="h2 font-weight-bold mb-0">1,556.14</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-arrow-up"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>10.42</span>
                <span class="text-nowrap">(0.67%)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">NYSE Amex Index</h5>
                  <span class="h2 font-weight-bold mb-0">2,481.33</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-arrow-down"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i>15.22</span>
                <span class="text-nowrap">(0.61%)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">BSE SENSEX</h5>
                  <span class="h2 font-weight-bold mb-0">36,063.81</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <i class="fas fa-arrow-up"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>196.37</span>
                <span class="text-nowrap">(0.55%)</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="heading" class="jumbotron" style="background-color:#fff; margin-bottom: 2px; padding-bottom: 5px">
      <table>
        <tr>
          <td><img src="http://pluspng.com/img-png/stock-market-png-stock-market-png-file-495.png" style="margin: 10px; width: 200px; height: 200px;" /></td>
          <td style="padding: 20px">
            <h2 class="display-4" style="color:#004084  "><b>Fortune 500</b> Companies</h2>
            <p class="lead">This is a simple website where you can watchlist, buy and sell your favourite stocks and
              get all
              information about them and earn virtual money based on realtime prices.</p>
          </td>
        </tr>
      </table>
    </div> -->
<div id="search"
  style="width: 100%; height: 80px; background-color:#fff; box-shadow: 0px 5px 10px -4px #333; z-index: 50">
  <form style="margin-left: 50px; padding: 20px" method='POST'>
    {% csrf_token %}
    <!-- <span style="font-size: 20px; margin-right: 20px;">Enter Starting Letters or Name of Company</span> -->
    <div class='row'>
      <!-- <div class="col-lg-8 col-md-8"> -->
      <input type="text" name="filter" class='form-control' style='width: 70%; margin-right: 20px'
        placeholder="Search for a company here" />
      <!-- </div> -->
      <!-- <div class="col-lg-2 col-md-2"> -->
      <button type="submit" class="btn btn-primary btn-sm" name="search"
        style="font-size: 20px">Search</button>&nbsp&nbsp
      <!-- </div> -->
      <!-- <div class="col-lg-2 col-md-2"> -->
      <button type="submit" class="btn btn-primary btn-sm" name="refresh" style="font-size: 20px">Refresh</button>
      <!-- </div> -->
    </div>
  </form>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <h6 class="heading text-muted mb-4" style="margin-left: 20px; margin-top: 20px">Search</h6>
          <div class="row">
            {% for name, symbol, region, currency in combined_list %}
            <div class="col-xl-5" style="margin-bottom: 20px; margin-left: 40px">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name}}</h5>
                  <p class="card-text">Symbol: {{symbol}} <br />
                    Region: {{region}}
                    Currency: {{currency}}
                  </p>
                  <a href="{% url 'detail' name symbol region %}" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-xl-4 order-xl-2">
        <div class="card card-profile shadow">
          <h6 class="heading text-muted mb-4" style="margin-left: 20px; margin-top: 20px">Recommendations</h6>
          <table>
            {% for i in all_stocks %}
            <tr>
              <td>
                <div class="list-group" style="margin: 10px">
                  <a href="{% url 'detail' i.name i.symbol i.region %}"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" style="color: #004084"><b>{{i.name}}</b></h5><br />
                      <br />
                      <small><b>Symbol: </b> {{i.symbol}}</small>
                    </div>
                    <p class="mb-1"><b style="color: #004084">Region: </b> {{i.region}}</p>
                  </a>
                </div>
              </td>
            </tr>
            <!-- {% if not forloop.counter0|divisibleby:2 %}</tr>{% endif %} -->
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row" style="padding: 30px">
  {% for name, symbol, region, currency in combined_list %}
  <div class="col-lg-4 col-sm-12" style='margin-bottom: 30px'>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Symbol: {{symbol}} <br />
          Region: {{region}}<br>
          Currency: {{currency}}
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


</div>

<script type="text/javascript">var _mcq=["6",""];</script>
<span id='_mc_mg6'></span><script language="JavaScript" src="https://stat1.moneycontrol.com/mcjs/common/https_mc_widget.js">
</script><noscript><a href="https://www.moneycontrol.com">Sensex/Nifty</a></noscript>

{% endblock %}
