  {% extends 'base.html' %}
 {% block content %}
 <body style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VHNsr79/videoblocks-stack-of-indian-rupee_rzqe5ertc3g_thumbnail-full01.png')">
 <div style="margin-left: 550px; margin-right: 550px; margin-top: 150px; border: 1px solid black; padding: 40px; background-color: rgba(0,0,0,0.7); color: white">
 <form method='POST'>
   {% csrf_token %}
   <h2>Login</h2>
   <br />
   <div class="form-group">
     <label name="username">Username</label>
     <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Enter username">
   </div>

   <div class="form-group">
     <label for="exampleInputPassword1">Password</label>
     <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
   </div>
   <br />
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>

 {% if error %}
   <p>{{ error }}</p>
 {% endif %}
 <br />
 <h3 style="text-align:right">Not A Member?</h3> <h4 style="text-align:right"><a href="{% url 'register' %}">Register</a></h4>
 </div>
 </body>
 {% endblock %}
