{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
	<div class="container-fluid">
		<div class="header-body">
			<!-- Card stats -->
			<div class="row">
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Dow Jones</h5>
									<span class="h2 font-weight-bold mb-0">26,026.32</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-success text-white rounded-circle shadow">
										<i class="fas fa-arrow-up"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-success mr-2"><i class="fa fa-arrow-up"></i>110.32</span>
								<span class="text-nowrap">(0.43%)</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">Russell 1000 Index</h5>
									<span class="h2 font-weight-bold mb-0">1,556.14</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-success text-white rounded-circle shadow">
										<i class="fas fa-arrow-up"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-success mr-2"><i class="fas fa-arrow-up"></i>10.42</span>
								<span class="text-nowrap">(0.67%)</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">NYSE Amex Index</h5>
									<span class="h2 font-weight-bold mb-0">2,481.33</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
										<i class="fas fa-arrow-down"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-warning mr-2"><i class="fas fa-arrow-down"></i>15.22</span>
								<span class="text-nowrap">(0.61%)</span>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-6">
					<div class="card card-stats mb-4 mb-xl-0">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<h5 class="card-title text-uppercase text-muted mb-0">BSE SENSEX</h5>
									<span class="h2 font-weight-bold mb-0">36,063.81</span>
								</div>
								<div class="col-auto">
									<div class="icon icon-shape bg-success text-white rounded-circle shadow">
										<i class="fas fa-arrow-up"></i>
									</div>
								</div>
							</div>
							<p class="mt-3 mb-0 text-muted text-sm">
								<span class="text-success mr-2"><i class="fas fa-arrow-up"></i>196.37</span>
								<span class="text-nowrap">(0.55%)</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
	<!-- Table -->
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header bg-transparent">
					<h3 class="mb-0">News</h3>
				</div>
				<div class="card-body">
					<div class="row icon-examples">
						{% for article in articles  %}

						<div class="container col-lg-10 col md-10">

							<div class="media">
								<span style="padding-right: 20px">
									<img src="{{article.image_url}}" height="150px" width="200px">
								</span>
								<div class="media-body">
									<a style="font-size: 20px; padding: 20px 0; font-weight: bold;"
										href="{{article.url}}">{{article.title}}</a>
									<p>{{article.description}}</p>
								</div>
							</div>

							<hr class="my-4" />
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static "/assets/vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "/assets/js/argon.js" %}"></script>


{% endblock %}







<div style="padding-top: 80px;">
	{% for article in articles  %}

	<div class="container">

		<div class="media">
			<span class="media-left">
				<img src="{{article.image_url}}" height="200px" width="300px">
			</span>
			<div class="media-body">
				<a style="font-size: 20px; padding: 20px 0; font-weight: bold;"
					href="{{article.url}}">{{article.title}}</a>
				<p>{{article.description}}</p>
			</div>
		</div>

	</div>
	<br />
	{% endfor %}
</div>