{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="col-md-12">
        <!-- <div class="form-group">
              <label class="form-control-label" for="input-address">Address</label>
              <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
            </div>-->
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Stock Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in bs %}
            <tr>
              <th scope="row">{{stock.id}}</th>
              <td>{{stock.stock}}</td>
              <td>{{stock.quantity}}</td>
              <td>{{stock.price}}</td>
              <td>{{stock.added_on}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}
