{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid"></div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->

    <div class="row " >
      <div class="col">
        <div class="card bg-default shadow" style="margin-top: -35px;">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0"><i class="fa fa-list" aria-hidden="true"></i> &nbsp; Watchlist</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">STOCK</th>
                  <!-- <th scope="col">Status</th>
                  <th scope="col">Completion</th> -->
                  <th scope="col" class="text-center">Options</th>
                </tr>
              </thead>
              <tbody>
                {% for watch in watch_list %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <!-- <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                      </a> -->
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{watch.stock}}</span>
                      </div>
                    </div>
                  </th>
                  <!-- <td>
                    {% if watch.percent  == 100 %}
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i> {{watch.status}}
                    </span>
                    {% else %}
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> {{watch.status}}
                    </span>
                    {% endif %}
                  </td> -->
                  <!-- <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{watch.percent}}%</span>
                      <div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{watch.percent}}%;"></div>
                        </div>
                      </div>
                    </div>
                  </td> -->
                  <td class="text-right">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="post" action="{% url 'watchlist_delete' watch.id %}" style="display: inline;">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> &nbsp; Remove</button>
                        </form>
                        </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!-- <footer class="footer">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </footer> -->
  </div>
{% endblock %}
